@font-face {
    font-family: cute;
    src: url('fonts/MotleyForcesRegular-w1rZ3.ttf');
}

*{
    margin: 0 auto;
    padding: 0;
    
    /* background-color: #5C3B1C; */
    
}
.quiz-container {
    margin: 0 auto;
    height: 1080px;
    width: 1920px;
    padding: none;
    /* background-color: #5C3B1C; */
    /* background-image: url('images/coffeewavebggrey.png'); */
    /* background: linear-gradient( #7A5B43, #7A461F); */
    /* border: 10px solid #A85202; */
    /* background-image: url('images/coffeegirl.jpeg'); */
    color: #faead6;
    /* color: #82b5fa; */
    font-size: 30px;
    text-align: center;
    /* font-family: Helvetica, sans-serif; */
    font-family: cute;
    position: relative;
    padding-top: 1%;
    padding-left: 3%;
}

p{
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 5%;
}

form {
    /* display: inline-block; */
    /* margin-left: auto;
    text-align: left;
    justify-content: left; */
    text-align: right;
    justify-content: right;

}

label {
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 22px;
    position: relative;
    right: -26%;
}

button {
    display: block;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #A85202;
    border: none;
    color: antiquewhite;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: cute;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    bottom: 70px;
    border: 3px solid black;
}

#result-container {
    /* margin-top: 8%; */
    margin: 0 auto;
    font-size: larger;
    font-weight: bold;
    align-self: center;
    text-align: center;
    position: relative;
    bottom: 40px;
    
}

select {
    position: relative;
    left: -27%;
    bottom: 75px;
    padding: 5px;
    font-family: cute;
    font-size: 16px;
    appearance: none;
    outline: 0;
    background: #A85202;
    background-image: none;
    color: antiquewhite;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 3px;
    scale: 150%;
    text-align: center;
}
 
.bg{
    background-image: url('images/coffeewavebggrey.png');
    height: auto;
    width: auto;
}